@model VVS_projekat.Models.Voucher

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Voucher</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="VoucherID" />
            <div class="form-group">
                <label asp-for="VoucherDate" class="control-label"></label>
                <input asp-for="VoucherDate" class="form-control" />
                <span asp-validation-for="VoucherDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VoucherCode" class="control-label"></label>
                <input asp-for="VoucherCode" class="form-control" />
                <span asp-validation-for="VoucherCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VoucherAmount" class="control-label"></label>
                <input asp-for="VoucherAmount" class="form-control" />
                <span asp-validation-for="VoucherAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VoucherDiscount" class="control-label"></label>
                <input asp-for="VoucherDiscount" class="form-control" />
                <span asp-validation-for="VoucherDiscount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
